@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "assets/scss/tailwind";

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI';
}
